@charset "UTF-8";

/*  
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 122, 82);
}

h1#principal {
    text-align: center;
    background-color: black;
    color: white;
}

h2 {
    color: rgb(48, 97, 82);
}

.basico {
    color:blue ;
}

.intermediario {
    color:gold ;
}

.avançado {
    color: darkred;
}